<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA2Zi1FGpu94jSNXQJwC-N4-Z4CQqCFac8</string>
	<key>GCM_SENDER_ID</key>
	<string>1043189883111</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hajduksanchez.PlatziTweets</string>
	<key>PROJECT_ID</key>
	<string>platzi-tweets-jahs</string>
	<key>STORAGE_BUCKET</key>
	<string>platzi-tweets-jahs.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1043189883111:ios:61b7ed94aa4db5645a4242</string>
</dict>
</plist>